html, body, .container {
	height: 100%;
	margin: 0;
	background-color: #34f6c6;

}

.container {
	display:table;
	width: 80%;
	margin: 0 auto;
}

.row {
	display: table-row;

}

.column {
	display: table-cell;
	vertical-align: middle;
	border: 1px solid;

}

.wrapper {
	border: 1px, solid black;
	margin: 0 auto;
	width: 600px;

}