h1 {
font-size: 4em; 
}

html, body, .container{
	/*height: 100%;*/
	margin: 0 auto;
}

.container {
	display:table;
	margin: 0 auto;
}

.row {
	display: table-row;

}

.column {
	display: table-cell;
	vertical-align: middle;
	border: 1px solid;
	padding: 20px;

}

.wrapper {
	border: 1px, solid black;
	margin: 0 auto;
	width: 800px;
	background-color: yellow;
	vertical-align: middle;
	height: 100%;

}

.header {
margin: 0 auto;
/*height: 100%;
/*vertical-align: middle;
}